<div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcomb-wp">
											<div class="breadcomb-icon">
												<i class="icon nalika-home"></i>
											</div>
											<div class="breadcomb-ctn">
												<h2>Giỏ Hàng</h2>
												<p>Chào mừng Nalika đến với<span class="bread-ntd">Admin Template</span></p>
											</div>
										</div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcomb-report">
											<button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="icon nalika-download"></i></button>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-cart-area mg-b-30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-cart-inner">
                            <div id="example-basic">
                                <h3>Giỏ hàng</h3>
                                <section>
                                    <h3 class="product-cart-dn">Shopping</h3>
                                    <div class="product-list-cart">
                                        <div class="product-status-wrap border-pdt-ct">
                                            <table>
                                                <tr>
                                                    <th>Hình ảnh</th>
                                                    <th>Tiêu đề sản phẩm</th>
                                                    <th>Chất lượng</th>
                                                    <th>Giá bán</th>
                                                    <th>Hành động</th>
                                                </tr>
                                                <tr>
                                                    <td><img src="img/product/1.jpg" alt="" /></td>
                                                    <td>
                                                        <h3>Tiêu đề sản phẩm 1</h3>
                                                        <p>Cảm ơn bạn rất hào hứng để theo đuổi các sản phẩm tài chính tiếp thị mục tiêu.</p>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" value="2">
                                                    </td>
                                                    <td>$18</td>
                                                    <td>
                                                        <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                                        <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><img src="img/product/2.jpg" alt="" /></td>
                                                    <td>
                                                        <h3>Tiêu đề sản phẩm 2</h3>
                                                        <p>Cảm ơn bạn rất hào hứng để theo đuổi các sản phẩm tài chính tiếp thị mục tiêu.</p>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" value="1">
                                                    </td>
                                                    <td>$17</td>
                                                    <td>
                                                        <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                                        <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><img src="img/product/3.jpg" alt="" /></td>
                                                    <td>
                                                        <h3>Tiêu đề sản phẩm 3</h3>
                                                        <p>Cảm ơn bạn rất hào hứng để theo đuổi các sản phẩm tài chính tiếp thị mục tiêu.</p>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" value="3">
                                                    </td>
                                                    <td>$15</td>
                                                    <td>
                                                        <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                                        <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><img src="img/product/2.jpg" alt="" /></td>
                                                    <td>
                                                        <h3>Tiêu đề sản phẩm 4</h3>
                                                        <p>Cảm ơn bạn rất hào hứng để theo đuổi các sản phẩm tài chính tiếp thị mục tiêu.</p>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" value="2">
                                                    </td>
                                                    <td>$12</td>
                                                    <td>
                                                        <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                                        <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><img src="img/product/1.jpg" alt="" /></td>
                                                    <td>
                                                        <h3>Tiêu đề sản phẩm 5</h3>
                                                        <p>Cảm ơn bạn rất hào hứng để theo đuổi các sản phẩm tài chính tiếp thị mục tiêu.</p>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" value="1">
                                                    </td>
                                                    <td>$18</td>
                                                    <td>
                                                        <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                                        <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </section>
                                <h3>Chi tiết giao hàng</h3>
                                <section>
                                    <h3 class="product-cart-dn">Shopping</h3>
                                    <div class="product-delivary">
                                        <div class="form-group">
                                            <label for="card-number" class="form-label">Tên *</label>
                                            <input id="name-2" name="name" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="card-number" class="form-label">Họ *</label>
                                            <input id="surname-2" name="surname" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="card-number" class="form-label">Quốc gia</label>
                                            <select class="form-control required">
													<option>Select Country</option>
													<option>Gujarat</option>
													<option>Kerala</option>
													<option>Manipur</option>
													<option>Tripura</option>
													<option>Sikkim</option>
												</select>
                                        </div>
                                        <div class="form-group">
                                            <label for="address" class="form-label">Địa chỉ *</label>
                                            <input id="address" name="address" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="city" class="form-label">Thành phố *</label>
                                            <input id="city" name="city" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="phone-2" class="form-label">Số điện thoại #</label>
                                            <input id="phone-2" name="phone" type="number" class="form-control phone">
                                        </div>
                                    </div>
                                </section>
                                <h3>Payment Details</h3>
                                <section>
                                    <h3 class="product-cart-dn">Shopping</h3>
                                    <div class="payment-details">
                                        <select id="hello-single" class="form-control">
												<option value="">---- Select card ----</option>
												<option value="married">Visa</option>
												<option value="unmarried">Master</option>
												<option value="married">American Express</option>
												<option value="unmarried">Discover</option>
											</select>
                                        <div class="form-group mg-t-15">
                                            <label for="card-number" class="form-label">Số thẻ</label>
                                            <input id="card-number" class="form-control" type="text" name="card_number">
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <label for="expdate-month" class="form-label">Ngày hết hạn</label>
                                                <div class="row gutter-xs">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="input-group">
                                                            <select id="expdate-month" class="form-control" name="expdate_month">
																	<option value="" selected="selected">Tháng</option>
																	<option value="1">01</option>
																	<option value="2">02</option>
																	<option value="3">03</option>
																	<option value="4">04</option>
																	<option value="5">05</option>
																	<option value="6">06</option>
																	<option value="7">07</option>
																	<option value="8">08</option>
																	<option value="9">09</option>
																	<option value="10">10</option>
																	<option value="11">11</option>
																	<option value="12">12</option>
																</select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <select id="expdate-year" class="form-control" name="expdate_year">
																	<option value="" selected="selected">Năm</option>
																	<option value="2016">2016</option>
																	<option value="2017">2017</option>
																	<option value="2018">2018</option>
																	<option value="2019">2019</option>
																	<option value="2020">2020</option>
																	<option value="2021">2021</option>
																	<option value="2022">2022</option>
																	<option value="2023">2023</option>
																	<option value="2024">2024</option>
																	<option value="2025">2025</option>
																	<option value="2026">2026</option>
																	<option value="2027">2027</option>
																	<option value="2028">2028</option>
																	<option value="2029">2029</option>
																	<option value="2030">2030</option>
																	<option value="2031">2031</option>
																	<option value="2032">2032</option>
																	<option value="2033">2033</option>
																	<option value="2034">2034</option>
																	<option value="2035">2035</option>
																	<option value="2036">2036</option>
																</select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5 offset-md-1">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="cvv2-number" class="form-label">Mã thẻ</label>
                                                            <input id="cvv2-number" class="form-control" type="text" name="cvv2_number">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="promotional-code" class="control-label">Mã khuyến mãi</label>
                                            <input id="promotional-code" class="form-control" type="text" name="promotional_code">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                    </div>
                                </section>
                                <h3>Xác nhận</h3>
                                <section>
                                    <div class="product-confarmation">
                                        <h2>Xin chúc mừng, đơn hàng của bạn được chấp nhận</h2>
                                        <p>Lorem Ipsum chỉ đơn giản là văn bản giả của ngành công nghiệp in ấn và sắp chữ. Lorem Ipsum đã trở thành văn bản giả tiêu chuẩn của ngành công nghiệp kể từ những năm 1500, khi một nhà in không rõ đã lấy một loại galley và xáo trộn nó để tạo ra một cuốn sách mẫu vật.</p>
                                        <button class="btn btn-primary m-y">Track Order</button>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- jquery
		============================================ -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="js/metisMenu/metisMenu.min.js"></script>
    <script src="js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="js/sparkline/jquery.sparkline.min.js"></script>
    <script src="js/sparkline/jquery.charts-sparkline.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="js/calendar/moment.min.js"></script>
    <script src="js/calendar/fullcalendar.min.js"></script>
    <script src="js/calendar/fullcalendar-active.js"></script>
    <!-- tab JS
		============================================ -->
    <script src="js/tab.js"></script>
    <!-- wizard JS
		============================================ -->
    <script src="js/wizard/jquery.steps.js"></script>
    <script src="js/wizard/steps-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="js/main.js"></script>